.header {
  width: '100%';
  height: 600px;
  background-image: url('https://bootstrap-themes.github.io/marketing/assets/img/startup-1.jpg');
  background-repeat: no-repeat;
  padding-top: 20px;
}

.header .slider {
  flex: 1;
}

.header .nav-link {
  color: #fff;
}

.brand-name {
  color: #FFA500;
}

.brand-name-logo {
  color: #fff;
  background-color: #FFA500;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  margin-right: 2px;
  border-radius: 5px;
}
