.body{
  letter-spacing: -0.02em;
}

.header {

  height: 800px;
  background-image: url('https://bootstrap-themes.github.io/marketing/assets/img/startup-1.jpg');
  background-repeat: no-repeat;
  padding-top: 20px;
  display: block;
}

.header .slider {
  flex: 1;
  align-items: center;
}

.header .nav-link {
  color: #fff;
}

.brand-name {
  color: #FFA500;
}

.brand-name-logo {
  color: #fff;
  background-color: #FFA500;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  margin-right: 2px;
  border-radius: 5px;
}

.welcome-btn  {
  height:60px;
  background-color: #2595FF ;
  border-radius: 5px;
  border: none;
  padding: 0 40px ;
  color: white;
  margin : 15px 0;
}

.col-md-12 h1 {
  color: white;
  font-weight: bold;
}

.col-md-12 h2{
  color: white;
  font-size: 21px;
  line-height: 30px;
}

.rich-information{
    margin : 5% ;
}

.col-md-6 h6{
  color: #BEC8CE !important;
 
}

.rich-information-read h2 {
  font-size: 32px;
  line-height: 10px
}

.rich-information-data{
  display: flex;
  font-size: 12px;
  line-height: 20px;
}

.reliability-uptime{
    margin: 0 0 0 25px;
}

.easy-development{
  background-color: #262F36;
  margin : -5%;
  height: 700px;
}

.col-md-6 .rich-make{
  margin: 35% 0 0 -5%;
}

.data{
    margin : 30% 0 0 -10%;
}

.col-md-6 .data h6{
    color: #BEC8CE !important;
    letter-spacing: 2px;
}

.col-md-6 .data  h2 {
    color :  white;
}

.col-md-6 .data p{
    color: rgba(255, 255, 255, .7) !important;
    font-size: 19px;
    line-height: 30px;
}

.doc{
    background-color: white;
    border-radius: 5px ;
    border: none;
    height: 60px;
    padding: 10px 55px 10px 55px ;
}

.analytics {
    border: red;
    color: white;
    margin : 25% 0 0 15%;
    border: red;
}

.high-praise{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin : -5%;
  background-image: url('https://bootstrap-themes.github.io/marketing/assets/img/startup-3.jpg');
  height: 550px;
  display: block;
}

.analytic{
  line-height: 35px;
  padding: 15% 0 0 65%;
  font-weight: bold;
}

.analytic h6{
  color: #BEC8CE !important;
}

.analytic p{
  color: white;
  font-size: 25px;
}

.analytic span{
  color: #BEC8CE !important;
  font-size: 14px;
}

.recode{
  background-color: #2595FF;
  background-size: cover;
  margin: 5% 10% 0 0;
  line-height: 60px;
  text-align: center;
  padding: 3%;
  height: 150px;
  width: 100%;
}

.inside-machine{
  text-align: center;
}

.support{
  padding: 10%;
}

.support h6 {
   color: #BEC8CE !important;
}

.support span {
  font-size: 25px;
  font-weight: bold;
}

.col-md-4{
  padding: 5% 0 0 5%;
  font-size: 15px;
}

.business-talk{
  background: #F4F5F6;
  height: 750px;
  width: 100%;
  text-align: center;
}

.price {
  padding: 10%;
}

.price h6{
  color: #BEC8CE !important;
}

.price .plan{
  font-weight: bold;
  font-size: 25px;
}

.business-talk .col-md-4{
  padding: 2px 0 0 20px;
 }

.business-talk .col-md-4 span {
  line-height: 15px;
}

.business-talk .col-md-4 p {
  font-size: 15px;
}

.business-talk .col-md-4 h6 {
  color: #BEC8CE !important;
}


.col-md-4 ul{
 margin : 30px 0 0 -30px;
 text-align: left;
}

.col-md-4 ul li  {
  border-top: 1px solid #BEC8CE !important;
  list-style: none;
  width: 345px;
}

.col-md-4 ul li p {
  padding: 10px 0 0 10px;
}

.col-md-4 button{
  background-color: #2595FF;
  color : white;
  font-size: 18px;
  border : none;
  border-radius: 5px;
  padding: 10px 80px 10px 80px ;
  margin : 20px -10px 20px -5px;
}

.public {
  border-bottom: 1px solid #BEC8CE !important;
}

.about{
  background:  #262F36;
  height: 320px;
}

.col-md-6{
  align-items: center;
  margin : 10% 0 0 -5%;
}

.about .col-md-6 h5 {
  color: rgba(255, 255, 255, .7) !important;
}

.about .col-md-6 p {
  color: white;
  font-size: 15px;
}

.col-md-2 {
  padding : 10% 0 0 5%;
}

.col-md-2 h5{
  color: rgba(255, 255, 255, .7) !important;
}

.col-md-2 p{
  color : white;
  font-size: 15px;
}







